*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}



@media (max-width: 1000px) {
  html {
    font-size: 9px;
  }

}


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; 
  font-weight: 400;
  line-height: 1.4;
  color: white;
}

h1,
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
  width: 100%;
}


.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(2, 15, 9);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 32px;
}

@media (max-width: 48px) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 16px;
  }
}

.nav-list a {
  display: block;
  font-size: 22px;
  padding: 20px;
}

.nav-list a:hover {
  background:rgb(47, 47, 124);
}


.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(1, 1, 29);
  background-image: linear-gradient(62deg, rgb(1, 1, 29), 100%);
}



.home > p {
  font-size: 25px;
  font-weight: 200;
  font-style: italic;
  color: white;
}


.experience {

  text-align: center;
  padding: 20px 3px;
  background: rgb(2, 15, 9);

}


.experience1 {
  max-width: 640px;
  margin: 0 auto 30px auto;
  border-bottom: 2px solid white;
}



@media (max-width: 200px) {
  .projects1 {
    font-size: 20px;
  }
}


.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 30px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 30px;
}
/* 
.projects-grid2 {
  display: flex;
  justify-content: center;
  color: black;
} */


@media (max-width: 300px) {
  .projects-section {
    padding: 15px 3px;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.experience {
  background:  rgb(1, 1, 29);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.589) ;
  border-radius: 2px;
}



.project-image {
  height: 50vh;
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 20px;
  padding: 15px 3px;
}


.sos {
  display: inline-block;
  padding: 7px 15px;
  border-radius: 2px;
}

.sos-show-all {
  font-size: 22px;
  background:  rgb(1, 1, 29);
  transition: background 0.3s ease-out;
}

.sos-show-all:hover {
  background:  rgb(1, 1, 29);
}

.sos-show-all:hover > i {
  transform: translateX(2px);
}

.sos-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}


.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background:  rgb(1, 1, 29);
}

.contact-section1 > h2 {
  font-size: 30px;
}

@media (max-width: 400px) {
  .contact-section1 > h2 {
    font-size: 50px;
  }
}

.contact-section1 > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 24px;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}


footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 22px;
  background:  rgb(1, 1, 29);
  border-top: 4px solid  rgb(1, 1, 29);
}

footer > p {
  margin: 20px;
}


@media (max-width: 400px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}

#margin {
  margin-left: 40%;
  margin-right: 30%;

}
.card-body {
  color: black;
}
.btn btn-primary {
  color: black
}